{% extends "base_site.html" %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}



<!-- Page Description and Instructions -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Welcome to Gainz App</h5>
        <p class="card-category">Created for hodler's who need some clarity</p>
      </div>
      <div class="card-body">
        <div>
          
          <h6>Gainz App: A Cryptocurrency cost basis tool that's offline and private.  </h6>
          <h6>Gainz Mission Statement: Help people solve the "I don't know what I've done with my crypto" problem :-) </h6>
          
          <br>
          <p>
            For many of us in the crypto community there comes a day when we are faced with trying to make sense of an exchange csv. 
            <br>These come from places like Coinbase, CashApp, Kraken, pretty much anyplace you've bought or sold crypto.
            <br><br> 
            These CSVs consist of buys, sells, sends, and receives that likely don't tell the whole story for the purpose of finding taxable events and associated cost basis. 
            <br>This can seem nearly impossible to figure out without some help.
            <br>
            <br> 
            One option is to use a service like Cointracker where you upload your CSVs or connect the service to all your accounts giving the 3rd party potentially sensitive information. 
            <br>
            <br>
            Gainz was made to be used offline and disconnected from the internet, so you can connect all the dots and work with scenarios that meet your needs without sacrificing privacy. 
            <br>
            <br>Gainz will import exchange transactions CSV(s) then guide you though some common scenarios to provide clarity and insights into your crypto holdings and associated gains or losses.
            <br>
            <br>Get started by importing transactions then work your way down the left column to export.
            <br> 
            <br>Reports will be exported in excel format for your reference and shareability. 
            <br>
            <br>I thank you for your interest and support. Please email admin@cryptogainz.store for questions, comments, or suggestions.
            <br> <br> Check out the Tax Guide Provided by Coinbase to determine if you need to pay crypto taxes.
            <br> <a href="https://www.coinbase.com/learn/tips-and-tutorials"> https://www.coinbase.com/learn/tips-and-tutorials </a>
            <br><br>Gainz, Does not provide Legal, Financial, or Tax Advice. Please consult with your certified advisor(s) to validate results. 
          </p>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Description and Instructions -->


<!-- Wealth Affirmations -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Wealth Affirmations</h5>
        <!-- <p class="card-category">Created for hodler's who need some clarity</p> -->
      </div>
      <div class="card-body">
        <div>
          <ul>
            <li>I give the world the best I have, and the best comes back to me</li>
            <li>I feel gratitude for all the wealth I have acquired now and in the future</li>
            <li>Large sums of money come to me easily and quickly in increasing quantities from multiple sources on a continuous basis in the best interest of all that I get to keep, use, spend, and give, joyously!</li>
            <li>I AM prosperous and allow myself to be wealthy</li>
            <li>I AM financial freedom</li>
            <li>I AM attracting money from all directions</li>
            <li>I AM rich enough to fulfill all my desires</li>
            <li>I AM accustomed to the power of abundance</li>
            <li>I AM living a life of purpose</li>
            <li>I AM persistent in chasing my dreams</li>
            <li>I AM motivated and hold all energies to accomplish my goals</li>
            <li>I AM abundance!</li>
            <li>I AM wealth!</li>
            <li>I AM rich!</li>

          </ul>
          



        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wealth Affirmations -->


{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
