<footer class="footer footer-black  footer-white ">
   <div class="container-fluid">
     <div class="row">
       <nav class="footer-nav">
         <ul>
           {% if store_url %}
           <li><a href="{{ store_url }}" target="_blank" rel="noopener noreferrer">Gainz Store</a></li>
           {% endif %}
           {% if support_url %}
           <li><a href="{{ support_url }}" target="_blank" rel="noopener noreferrer">Donate</a></li>
           {% endif %}
         </ul>
       </nav>
     </div>
   </div>
 </footer>
