

<!-- sidebar menu -->
<div class="logo">
  <a href="http://cryptogainz.store" class="simple-text logo-mini">
    <div class="logo-image-small">
      <img src="{{ url_for('static', filename='/assets/img/gainz_logo.jpg') }}">
    </div>
    <!-- <p>CT</p> -->
  </a>
  <a href="http://cryptogainz.store" class="simple-text logo-normal">
    Gainz!
    <!-- <div class="logo-image-big">
      <img src="../assets/img/logo-big.png">
    </div> -->
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li>
      <a href="/home">
        <i class="nc-icon nc-bank"></i>
        <p>Home</p>
      </a>
    </li>
    <li>
      <a href="/import_transactions">
        <i class="nc-icon nc-cloud-upload-94"></i>
        <p>Import Transactions</p>
      </a>
    </li>
    <li>
      <a href="/add_transactions">
        <i class="nc-icon nc-money-coins"></i>
        <p>Add & Manage Transactions</p>
      </a>
    </li>
    <li>
      <a href="/add_links">
        <i class="nc-icon nc-vector"></i>
        <p>Add & Manage Links</p>
      </a>
    </li>
    <li>
      <a href="/hodl_accounting">
        <i class="nc-icon nc-ruler-pencil"></i>
        <p>HODL & Accounting</p>
      </a>
    </li>
    <li>
      <a href="/auto_link">
        <i class="nc-icon nc-planet"></i>
        <p>Auto Link</p>
      </a>
    </li>
    <li>
      <a href="/stats">
        <i class="nc-icon nc-chart-bar-32"></i>
        <p>Stats & Charts</p>
      </a>
    </li>
    <li>
      <a href="/model">
        <i class="nc-icon nc-credit-card"></i>
        <p>Model Sell</p>
      </a>
    </li>
    <li>
      <a href="/history">
        <i class="nc-icon nc-hat-3"></i>
        <p>History</p>
      </a>
    </li>
    <li>
      <a href="/export">
        <i class="nc-icon nc-share-66"></i>
        <p>Export</p>
      </a>
    </li>
  
  </ul>
</div>



